@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Alfa+Slab+One&display=swap');

/* GLOBAL */
body {

    /* aligns strings center */
    text-align: center;

    /* design */
    background-color: rgb(220,197,171);
}

thead {

    /* design */
    font-family: 'Alegreya Sans', sans-serif;
}

tbody{

    /* design */
    font-family: 'Alegreya Sans', sans-serif;

}

code {

    /* design */
    background-color: rgba(128, 128, 128, 0.263);
    border-radius: 100px;

    /* position */
    padding: 5px;
    margin: auto 15px auto 15px;

}

/* COLUMNS */
.column--1 {
    
    /* design */
    background-color: rgb(228,223,218);
    
    /* position */
    text-align: center;
    width: 250px;
    
}

.column--2 {
    
    /* design */
    background-color: rgb(228,223,218);
    
    /* spacing */
    width: 100px;
    
    /* position */
    text-align: center;
    
}

.column--3 {
    
    /* design */
    background-color: rgb(228,223,218);
    
    /* spacing */
    width: 275px;
    
    /* position */
    text-align: center;
    
}

.column--4 {
    
    /* design */
    background-color: rgb(228,223,218);
    
    /* spacing */
    width: autopx;
    
    /* position */
    text-align: center;
    display: flex;
    justify-content: center;
   
}

/* EXAMPLES */
.example--back {
    
    /* design */
    background-color: rgb(220,197,171);
    color: rgb(61,64,87);
    
    /* position */
    width: 90%;
    height: auto;
    margin: 5px;
    padding: 10px;
    text-align: left;

}

.container--block {

    /* position */
    height: 50px;
    width: 50px;
    margin: 5px;

    /* design */
    background-color: rgb(113,68,66);

}

/* inline */
.inline--span {

    /* display */
    display: inline;

    /* design */
    background-color: rgb(228,223,218);

}

.block--span {

    /* display */
    display: block;

    /* design */
    background-color: rgb(228,223,218);

}

.content--span {

    /* display */
    display: contents;

    /* design */
    background-color: rgb(228,223,218);

}

.flex-- {

    /* display */
    display: flex;

}

.grid-- {

    /* display */
    display: grid;
    grid-template-columns: 0fr 0fr;

}

.inline-block-- {

    /* display */
    display: inline-block;

    /* position */

}

.inline-flex-- {

    /* display */
    display: inline-flex;

}

/* TABLE--HEADING */
.table--container {
    
    /* centering table */
    margin-left: auto;
    margin-right: auto;
    
    /* design */
    border: 2px solid rgb(72,58,65);
    
}

.table--heading1 {
    
    /* design */
    color: rgb(72,58,65);
    font-family: 'Alfa Slab One', cursive;

}

.head {

    /* design */
    color: rgba(72,58,65,255);
    border-bottom: 1px solid rgb(146, 169, 176);
    font-size: 19px;

}

/* TABLE__BODY */
.table--body {

    /* design */
    

}